@import './material-icons.css'
@import './code'
@import './content'

code, kbd, .line-number
  font-family Menlo, source-code-pro, Monaco, Consolas, "Courier New", monospace

p, ul, ol, span
  line-height 1.7